@charset "UTF-8";
body, p, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, select, textarea, button, th, td, menu {
  margin: 0;
  padding: 0; }

* {
  box-sizing: border-box; }

ul, dl, ol {
  list-style: none; }

img, fieldset, input[type="submit"] {
  border: 0 none; }

em {
  font-style: normal; }

strong {
  font-weight: normal; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button, input[type="button"] {
  cursor: pointer;
  border: 0 none; }

a, button, input, img {
  -webkit-touch-callout: none; }

img {
  /*pointer-events:none;*/
  /*禁止图片的点击事件，例如长按保存图片*/ }

input, select, textarea {
  outline: none; }

a {
  text-decoration: none; }

.fl {
  float: left; }

.fr {
  float: right; }

.clear {
  clear: both; }

.clearfix::after {
  content: "";
  display: block;
  height: 0;
  clear: both; }

html, body {
  /*禁止用户选择元素*/
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  /*禁止元素点击出现半透明黑色背景*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

html {
  /*height: 100%;width: 100%;*/
  font-family: 'Heiti SC', 'Microsoft YaHei';
  outline: 0;
  -webkit-text-size-adjust: none; }

body {
  /*height: 100%;*/
  margin: 0;
  position: relative; }

.web {
  width: 1280px;
  margin: auto; }

/*logo容器*/
.web header {
  height: 126px; }
  .web header .logowrap {
    padding: 57px 0 0 172px; }
  .web header .top-nav {
    font-size: 12px;
    color: #b3b2b2;
    margin: 15px 172px 40px 369px; }
    .web header .top-nav li {
      float: left;
      margin-right: 3px; }
      .web header .top-nav li:last-child {
        margin-right: 0px; }
      .web header .top-nav li a {
        color: #b3b2b2; }
        .web header .top-nav li a:hover {
          color: deepskyblue; }
  .web header .nav {
    font-size: 13px; }
    .web header .nav .active a {
      color: #f64f5b; }
    .web header .nav li {
      float: left;
      margin-right: 26px;
      position: rerelative; }
      .web header .nav li:first-child {
        margin-left: 152px; }
      .web header .nav li:last-child {
        margin-right: 0px; }
      .web header .nav li a {
        color: #7a7878; }
        .web header .nav li a:hover {
          color: deepskyblue; }

.active::after {
  content: "";
  display: block;
  height: 4px;
  width: 150%;
  margin: 0 auto;
  margin-top: 7px;
  background-color: #1abc9c;
  position: relative;
  left: -6px; }

footer {
  width: 1280px; }
  footer .footers .footers-contact {
    width: 1280px;
    height: 424px;
    color: white;
    background-color: #38373d; }
    footer .footers .footers-contact .QR-code {
      width: 311px;
      font-size: 12px;
      margin-top: 195px;
      padding-left: 174px; }
      footer .footers .footers-contact .QR-code p {
        margin-top: 9px;
        position: absolute;
        left: 169px; }
    footer .footers .footers-contact .Contact {
      width: 362px;
      font-size: 14px;
      margin-top: 192px;
      padding-left: 15px;
      position: relative;
      z-index: 1; }
      footer .footers .footers-contact .Contact li p {
        vertical-align: bottom; }
        footer .footers .footers-contact .Contact li p img {
          margin-right: 13px; }
        footer .footers .footers-contact .Contact li p a {
          color: #e1e1e1;
          font-weight: 300; }
      footer .footers .footers-contact .Contact li:first-of-type {
        margin-bottom: 18px; }
      footer .footers .footers-contact .Contact li:nth-last-child(2) {
        margin-bottom: 12px; }
      footer .footers .footers-contact .Contact li:nth-last-child(3) {
        margin-bottom: 12px; }
    footer .footers .footers-contact .Feedback {
      width: 392px;
      font-size: 14px;
      margin-top: 61px; }
      footer .footers .footers-contact .Feedback li {
        margin-bottom: 11px; }
        footer .footers .footers-contact .Feedback li > input, footer .footers .footers-contact .Feedback li textarea {
          font-size: 12px;
          border: 0;
          border-radius: 5px;
          color: #c8cdd1;
          align-items: baseline;
          background-color: #5d6d7e;
          padding-left: 12px; }
        footer .footers .footers-contact .Feedback li:nth-of-type(2) input:first-of-type {
          width: 170px;
          height: 40px;
          margin-right: 17px; }
        footer .footers .footers-contact .Feedback li:nth-of-type(2) input:last-of-type {
          width: 200px;
          height: 40px; }
        footer .footers .footers-contact .Feedback li:nth-of-type(3) input {
          width: 391px;
          height: 40px; }
        footer .footers .footers-contact .Feedback li > textarea {
          width: 391px;
          height: 145px;
          padding-top: 24px;
          resize: none; }
        footer .footers .footers-contact .Feedback li:last-of-type {
          width: 98px;
          height: 30px;
          font-size: 13px;
          text-align: center;
          background-color: #3498db;
          border-radius: 5px;
          padding-top: 7px; }
          footer .footers .footers-contact .Feedback li:last-of-type a {
            color: white; }
  footer .footers .footers-address {
    width: 1280px;
    height: 120px;
    background-color: #2c3e50;
    text-align: center;
    padding-top: 45px; }
    footer .footers .footers-address p {
      position: relative;
      z-index: 3; }
    footer .footers .footers-address p:first-of-type {
      font-size: 13px;
      color: white;
      margin-bottom: 8px; }
      footer .footers .footers-address p:first-of-type span {
        margin-right: 24px;
        letter-spacing: 1px; }
    footer .footers .footers-address p:last-of-type {
      font-size: 9px;
      color: #c4c5c8;
      letter-spacing: 1px; }
    footer .footers .footers-address .footers-sanjiao {
      width: 190px;
      position: relative;
      top: -122px;
      left: 535px;
      z-index: 2; }

/*# sourceMappingURL=common.css.map */
